body {
    margin: 0;
}

div {
    display: inline-block;
    font-size: 18px;
    margin: 5px;
}

#loginForm div, #registrationForm div, #userForm div {
    width: 160px;
    height: 24px;
}

#loginForm, #registrationForm, #userForm {
    width: 380px;
}

div#roles {
    width: 380px;
}

button {
    width: 170px;
    font-size: 16px;
    height: 24px;
    margin: 5px;
}

h3, h4 {
    margin: 10px 20px;
}

.error {
    font-size: 14px;
    color: red;
    display: block;
    width: 100%;
}

.grey {
    color: grey;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

/*            NAVIGATION MENU            */
.navbar, .week {
    margin: 0;
    background-color: lightblue;
    width: 100%;
}

.week {
    background-color: #a9e6d0;
}

.navbar div, .week div {
    margin: 0;
}

.navbar a, .week a {
    text-decoration: none;
    color: black;
    display: block;
    height: 30px;
    padding: 5px;
}

.week div {
    font-size: 16px;
    height: 24px;
    width: calc(100%/7 - 5px);
}

.week a {
    height: 24px;
    padding: 0px 0px 0px 10px;
}

.navbar a:hover, .week a:hover {
    background-color: darkcyan;
}

div#authorized {
    width: 200px;
    float: right;
}

div#logout {
    width: 70px;
    float: right;
    font-size: 18px;
}

span {
    font-size: 14px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: cadetblue;
    min-width: 160px;
    z-index: 1;
}

.lang {
    min-width: 50px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*********************************/

div#shownDay, div#shownPage {
    float: right;
}

#shownDay div a{
    text-decoration: none;
}

.info-film {
    min-height: 260px;
    padding: 16px 0 0 16px;
}

.info-film > img {
    float: left;
    width: 200px;
    height: 300px;
    position: relative;
}

.info-film-content {
    position: relative;
    padding-bottom: 15px;
    padding-left: 24px;
    padding-right: 24px;
}

.info-film .title-page {
    text-align: left;
    border: none;
    position: relative;
    margin-top: -5px;
    padding: 0;
}

.title-page {
    font-size: 24px;
    padding: 20px 0 20px;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid #d6d5d3;
    margin-bottom: 10px;
}

.info-film p {
    line-height: 16px;
}
.info-film .info {
    font-size: 15px;
    color: #010000;
    font-style: italic;
}

ul {
    list-style: none;
    display: block;
    margin: 0;
    padding-left: 20px;
}

.data-film li {
    padding: 3px 0;
    width: 220px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.info-film-content .data-film p {
    font-size: 15px;
    margin: 3px;
}
.data-film .title-data-film {
    float: left;
    font-weight: bold;
    padding-left: 0;
}

.seats {
    padding-left: 16px;
    padding-top: 30px;
}

.seats h4, .seats td {
    text-align: center;
}

.seats div {
    margin-left: 17%;
    width: 66%;
    border-top: darkcyan 2px solid;
    padding-top: 60px;
}

/*            TABLES            */

table {
    width: calc(100% - 20px);
    min-width: 800px;
    margin: 10px;
    font-size: 1.2em;
}

th, td {
    padding: 5px;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: lightblue;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
